body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    overflow-x: hidden;
    width: 100%;
    
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  } 
#navi {
    background: #221E37;
}
.container {
    margin-top: 20px;
    margin-bottom: 70px;
}
footer {
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: #221E37;
    color: white;
    
}
#rezultat, #ageOfChild, #mar {
  display: none;
}
#zs {
  color:white;
}
#alert{
  border: 1px solid white;
  background: #D6D8D9; 
  color: black;
}
.red{
  color: red;
}
.card{
  margin:5px;
}